@model myITOffice.Models.Device

@{
    ViewData["Title"] = "Details";
}

<h4>Device details</h4>
<hr />

<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceType.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeviceType.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IPAddress1)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IPAddress2)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IPAddress3)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IPAddress4)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IPAddress5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IPAddress5)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MAC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MAC)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeUser.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeUser.Name)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
